.contact {
    background-color: #DAE5FF;
    color: #0C2C74;
    margin: 0px;
    padding-bottom: 200px;
}

.contact ul {
    list-style-type: none;
    padding: 0;
    font-size: 2em;
    text-align: center;
}
.mailForm {
    padding: 3%;
    margin: auto;
}

.submit {
    color: #DAE5FF;
    background-color: #0C2C74;
}

.info {
    padding-bottom: 3%;
    margin: auto;
}
.acein {
    width: 300px;
    height: 150px;
    background-image: url("./logo_acein.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    bottom: 10px;
    clear:both;
}

@media screen and (max-width: 768px){
    .contact ul {
        font-size: 1.5em;
        padding: 0 40px;
    }

    .acein {
        width: 180px;
        height: 90px;
    }
}
