.navContainer {
    position: fixed;
}

.navbar {
    margin: auto;
    padding: 0;
    width: 11%;
    height: 100%;
    position: fixed;
    background: #006f59;
    text-align: center;
}

.navlogo {
    background-image: url("./logo2.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 80px;
    width: 100%;
    margin: auto;
    padding-top: 50px;

}

.navbar li {
    font-size: 1.4vw;
    width: 70%;
    margin: -130px auto;
    padding: 120px 0;
    display: block;
    cursor: pointer;
    color: #0F2B26;
    text-decoration: none;
}
#about {
    padding-top: 50px;
    margin-top: -30px;
}

.line {
    left: 25.8%;
    width: 1px;
   height: 100px;
   background-color: #0F2B26;
   position: relative;
   overflow: inherit;
   z-index: -1;
}

.circle {
    float: left;
    width: 15.84%;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 50%;
    background-color: #0F2B26;
    padding-bottom: 15.84%;
    margin-left: 8%;
    -webkit-transition: background-color 800ms;
}

.text{
    -webkit-transition: color 800ms;
}

.link:hover {
    color: #89FFE8;
}

.link:hover .circle {
    transition-duration: 800ms;
    background-color: #89FFE8;
}
.active {

    color: #89FFE8;
}

.active .circle{
    transition-duration: 800ms;
    background-color: #89FFE8;
}

@media screen and (max-width: 768px){
    .navlogo {
        background-size: 80%
    }

    .text {
        display: none;
        position: absolute;
        float: left;
    }

    .circle {
        text-align: center;
        width: 35%;
        padding-bottom: 35%;
        margin: 0 auto;
        float: none;
    }

    .line {
        left: 47%;
    }

    .navbar li {
        margin: -30px auto;
        padding: 20px 0;
    }

}

@media screen and (max-height: 420px){
    .navbar li {
        margin: -30px auto;
        padding: 20px 0;
    }

    .line {
        height: 120px;
    }

}
