.navContainer {
    position: fixed;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: #444;

}

.navbar li {
    font-size: 2vw;
    width: 100%;
}

.navbar li a {
    margin: 10% 0;
    position: relative;
    display: block;
    color: white;
    text-align: center;
    padding: 30% 10%;
    text-decoration: none;
}

.navbar li a:hover {
    color: #006f59;
}

.active {
    background-color: #aaa;
    color: #006f59;
}
