/* gif with mouse hover on top -- circles on navbar -- font sizes -- better centering--  scrlling down logo shows on bar -- background image with opac text last colors --  */
/*-webkit-min-device-pixel-ratio: 1.5  min-device-pixel-ratio: 1.5*/
/*@font-face {
    font-family: "heiti";
    src: url("./HeitiStdR.ttf");
}*/

body {
    height: 100%;
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

h1{
    margin: 0;
}

h2 {
    margin:0px;
    padding-top: 3%;
    font-size: 2.8em;
    text-align: center;
}

p {
    margin:0px;
    padding: 3% 5%;
    font-size: 1.6em;
    text-align: left;
}

.app {
    font-size: 62.5%;
}

.content {
    width: 87%;
    float: right;
    text-align: center;
}

.header {
    background-attachment: fixed;
    background-image: url("./logo.png");
    background-position: 58% 50%;
    background-size: 30%;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 60%;

}

.header:hover {
    background-image: url("./vinocular.gif");
    background-position: 60% 50%;
    background-size: 60%;
}

@media screen and (max-width: 768px){
    .header {
        background-image: url("./vinocular.gif");
        background-size: 100%;
        background-position: 70% 30%;
        padding-bottom: 140%;
    }

    .header:hover {
        background-size: 100%;
        background-position: 70% 30%;
        padding-bottom: 140%;
    }

    h2 {
        padding: 8%;
    }
    p {
        font-size: 1.2em;
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (max-width: 952px){
    .header {
        background-image: url("./vinocular.gif");
        background-size: 100%;
        background-position: 70% 30%;
        padding-bottom: 100%;
    }

    .header:hover {
        background-size: 100%;
        background-position: 70% 30%;
        padding-bottom: 100%;
    }

}



@media screen and (max-height: 420px){
    p {
        font-size: 1.1em;
    }

    .header {
        background-image: url("./vinocular.gif");
        background-position: 60% 20% ;
        padding-bottom: 70%;
        background-size: 50%;
    }
    .header:hover {
        background-position: 60% 20% ;
        padding-bottom: 70%;
        background-size: 50%;
    }
}

@media screen and (max-width: 420px){
    .header {
        background-image: url("./vinocular.gif");
        background-size: 120%;
        background-position: 50% 20%;
        padding-bottom: 200%;
    }

    .header:hover {
        background-size: 120%;
        background-position: 50% 20%;
        padding-bottom: 200%;
    }

    h2 {
        padding: 8%;
    }
    p {
        font-size: 1em;
        padding-left: 8%;
        padding-right: 8%;
    }
}
